services:
  backend:
    build: ./mabanquetools-backend
    ports:
      - "3000:3000"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network

  frontend:
    build: ./mabanquetools-webapp
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
